html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

h1 {
  margin-top: 0;
}

.commonProperty {
  font-family: 'Muli', sans-serif;
  color: rgb(51, 51, 51);
  width: 70vw;
  font-size: 1.2vw;
  margin: 0;
  padding: 5vh;
}

.currentCompany {
  color: white;
  text-decoration: none;
}

/* NAV & SECTION ======= */
/* ========================================== */
/* ================================================================= */
.navBar {
  display: block;
  width: 18vw;
  height: 100vh;
  position: fixed;
  box-shadow: 3px 0px 7px -1px rgba(0, 0, 0, 0.75);
  background-color: white;
}

.mobileViewNavbar,
.hiddenMenu {
  display: none;
}

.section {
  /* width: 80.8vw; */
  width: 82vw;
  padding-left: 18vw;
  min-height: 60vh;
}

/* NAVIGATION CSS============== */
/* ========================================== */
/* ============================================================ */

/* DESKTOP VIEW ========== */
/* ==================================== */
.section {
  font-size: 50px;
  color: rgb(235, 235, 235);
}

.navItems,
.logo {
  color: black;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s;
  font-family: 'Lato', sans-serif;
}

.logo {
  padding: 6vh 0;
  padding-left: 2vw;
  border-bottom: 0.5px solid rgb(128, 128, 128);
  background-color: rgb(241, 237, 237);
}

.navItems {
  font-size: 1.2vw;
  font-weight: 700;
  padding: 2vh 0;
  padding-left: 2vw;
  letter-spacing: 0.1vw;
  margin: 0 0 0.1vw 0;
}

.navItems:hover,
.resumeHover:hover {
  background-color: lightslategray;
  color: white;
  padding-left: 2.5vw;
  border-left: 1vw solid rgb(51, 51, 51);
}

.navItems.active {
  background-color: lightslategray;
  color: white;
  padding-left: 2.5vw;
  border-left: 1vw solid rgb(51, 51, 51);
}

#name {
  font-size: 2.2vw;
  font-weight: 900;
  color: rgb(36, 36, 36);
}

#profession,
.position {
  display: block;
  margin-top: 2vh;
  font-size: 1.1vw;
  /* font-weight: 600; */
  word-spacing: 0.2vw;
  color: rgb(87, 87, 87);
  text-transform: capitalize;
}

/* INTRO SECTION CSS============== */
/* ========================================== */
/* ============================================================ */

.section h1 {
  margin: 0;
  background-color: rgb(51, 51, 51);
  padding: 1vw;
  font-size: 2vw;
  color: white;
  letter-spacing: 0.2vw;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.myImage {
  background-color: #fff;
  color: rgb(77, 77, 77);
}

.parallaxContainer {
  position: relative;
  /* opacity: 0.70; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* fixed = parallax
    scroll = normal */
  background-attachment: fixed;
}

.aboutMe h2,
.aboutMe p {
  color: white;
  margin: auto;
  text-align: center;
}

.aboutMe h2 {
  font-family: 'Lato', sans-serif;
  font-size: 3.5vw;
  padding-top: 38vh;
  line-height: 6vw;
}

/* .aboutMe p {
  line-height: 4vh;
  font-size: 1.2vw;
  letter-spacing: 0.1vw;
  word-spacing: 2px;
  font-family: "Muli", sans-serif;
} */

/* ABOUT SECTION CSS============== */
/* ========================================== */
/* ============================================================ */

.aboutSection {
  margin: auto;
  /* background-color: lightpink; */
  /* color: rgb(51, 51, 51); */
}

.aboutSection p {
  /* font-size: 1.3vw; */
  margin: 0;
  /* padding: 5vh; */
  line-height: 2.5vw;
}

.aboutSection #hello::first-letter {
  font-size: 3vw;
}

#hello a {
  text-decoration: none;
  color: rgb(51, 51, 51);
  text-decoration: underline;
}

#hello a:hover {
  color: lightslategray;
}

#contactMe {
  padding: 0.5vw;
  background-color: rgb(193, 216, 240);
  text-decoration: none !important;
  transition: all 0.5s;
}

#contactMe:hover {
  color: white !important;
  background-color: lightslategray;
}

.currentFocus {
  margin: 0;
  display: flex;
  align-items: center;
  padding: 2vw 0 0 0;
}

.currentFocus h4 {
  margin-right: 1vw;
}

/* EXPERIENCE SECTION CSS============== */
/* ========================================== */
/* ============================================================ */

.experienceSectoin {
  margin: auto;
}

.experienceSectoin .box {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 5vh 0;
}
.experienceSectoin .box > div {
  padding: 0.5vw;
}

.experienceSectoin .boxhead {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr;
  align-items: center;
}

.experienceSectoin .boxhead h3 {
  font-size: 1.8vw;
  /* text-decoration: none;
  color: rgb(51, 51, 51); */
}

.experienceSectoin .boxLogo img {
  /* width: 50%; */
  padding-left: 3vw;
}

.experienceSectoin .boxBody {
  line-height: 2.5vw;
}

.experienceSectoin .boxBody ul {
  padding: 0 4vw;
}

.experienceSectoin .boxFoot {
  background-color: rgb(241, 237, 237);
}

.boxBody p,
.boxFoot p {
  padding: 0 2.5vw;
}

hr {
  width: 90%;
  border: 0.05vw solid lightslategray;
}

.experienceSectoin .box1 img {
  width: 40%;
}

.experienceSectoin .box2 img {
  width: 50%;
}

.experienceSectoin .box3 img {
  width: 66%;
}

.experienceSectoin .box4 img {
  width: 30%;
}

/* SKILLS SECTION CSS============== */
/* ========================================== */
/* ============================================================ */

.skillsSection {
  /* background-color: yellow; */
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.skillsSection .box {
  /* background-color: aqua; */
  text-align: center;
  padding: 2vw 1vw;
}

.skillsSection .box img {
  width: 50%;
  height: 7vw;
}

.skillsSection .box h4 {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 1.2vw;
}

/* EDUCATION SECTION CSS============== */
/* ========================================== */
/* ============================================================ */

.educationSection {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5vw;
  padding: 5vw 0;
}

.educationSection .box {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 0;
}

.educationSection .box .boxHead {
  background-color: rgb(241, 237, 237);
  padding: 1vw 2vw;
}

.educationSection .durationAndDegree {
  margin: 0;
  padding: 2vw;
  line-height: 2vw;
  color: rgb(87, 87, 87);
}

/* CONTACT SECTION CSS============== */
/* ========================================== */
/* ============================================================ */

.contactSection {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5vw;
  padding-top: 38vh;
}

#contact {
  min-height: 100vh;
}

.contactSection .box {
  margin: auto;
  border: 0.2vw solid lightslategray;
  border-radius: 5%;
  text-align: center;
  transition: all 0.5s;
}

.contactSection .box i {
  font-size: 2.5vw;
  padding: 1.5vw;
  color: rgb(51, 51, 51);
  transition: all 0.5s;
}

.contactSection .box:hover {
  border: 0.2vw solid rgb(51, 51, 51);
}
.contactSection .box i:hover {
  color: lightslategray;
}

/* PROJECTS SECTION CSS============== */
/* ========================================== */
/* ============================================================ */

.projectsSection {
  margin: auto;
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-around;
}
.projectsSection .box {
  width: 31%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  /* padding: 0.1vw; */
  margin: 1vw;
  display: inline-block;
  background-color: rgb(241, 237, 237);
}

.projectsSection .box img {
  width: 100%;
}

.projectsSection .box h4 {
  font-size: 1.5vw;
}

.projectsSection .box h4,
.projectsSection .box p {
  /* padding: 1vw 2vw; */
  padding: 0 2vw 2vw 2vw;
  margin: 0;
}

.projectsSection .box a {
  text-decoration: none;
  color: rgb(51, 51, 51);
}
.projectsSection .box a:hover {
  background-color: rgb(51, 51, 51);
  color: white;
}

/* MEDIA QUERIES ============== */
/* ========================================== */
/* ============================================================ */
/* ==================================================== */
/* ========================================== */
/* ============================================================ */

@media (max-width: 1370px) {
  /* .section {
    width: 80.7vw;
  } */
  .commonProperty {
    font-size: 1.4vw;
  }
}
@media (max-width: 1262px) {
  /* .section {
    width: 80.6vw;
    min-height: 60vh;
  } */
}
@media (max-width: 1172px) {
  /* .section {
    width: 80.5vw;
  } */
  .commonProperty {
    font-size: 1.5vw;
  }
}
@media (max-width: 1094px) {
  /* .section {
    width: 80.3vw;
  } */
  .commonProperty {
    font-size: 1.6vw;
  }
}
@media (max-width: 965px) {
  /* .section {
    width: 80.1vw;
    min-height: 40vh;
  } */
}
@media (max-width: 863px) {
  /* .section {
    width: 80vw;
  } */
}
@media (max-width: 822px) {
  /* .section {
    width: 79.9vw;
  } */
}
@media (max-width: 783px) {
  /* .section {
    width: 79.7vw;
  } */
}

@media (max-width: 965px) {
  .projectsSection {
    flex-wrap: wrap;
  }

  .projectsSection .box {
    width: 45%;
  }
}

/* ----------------- MOBILE VIEW---------------- */
/* ========================================================= */

@media (max-width: 769px) {
  .scrollspy h1 {
    top: -100px !important;
  }

  .section {
    width: 100vw;
    padding-left: 0;
  }
  .section h1 {
    font-size: 4vw;
  }

  .commonProperty {
    font-size: 2.1vw;
    word-spacing: 0.1vw;
  }

  /* ABOUT SECTION CSS============== */

  .aboutSection p {
    line-height: 3.5vw;
  }
  .aboutMe h2 {
    font-size: 5.5vw;
    line-height: 9vw;
  }
  .aboutSection #hello::first-letter {
    font-size: 7vw;
  }

  /* SKILLS SECTION CSS============== */

  .skillsSection {
    grid-template-columns: repeat(2, 1fr);
  }
  .skillsSection .box {
    padding: 2vw 7vw;
  }
  .skillsSection .box img {
    height: 10vw;
  }
  .skillsSection .box h4 {
    font-size: 1.8vw;
    font-weight: 600;
  }

  /* EDUCATION SECTION CSS============== */

  .educationSection {
    grid-template-columns: 1fr;
  }
  .educationSection .durationAndDegree {
    line-height: 3.5vw;
  }

  /* EXPERIENCE SECTION CSS============== */

  .experienceSectoin .boxBody ul li {
    line-height: 3.5vw;
  }
  .boxBody p,
  .boxFoot p {
    line-height: 3.5vw;
  }
  .experienceSectoin .box1 img {
    width: 50%;
  }

  .experienceSectoin .box2 img {
    width: 56%;
  }

  .experienceSectoin .box3 img {
    width: 80%;
  }

  .experienceSectoin .box4 img {
    width: 38%;
  }

  .experienceSectoin .boxhead h3 {
    font-size: 2.1vw;
    margin-left: 4vw;
  }
  .experienceSectoin .boxLogo img {
    padding-top: 1vw;
  }
  .experienceSectoin .boxhead {
    grid-template-columns: 0.5fr 1.5fr 1fr;
  }
  .position {
    margin-top: 0;
    font-size: 1.4vw;
    text-align: center;
  }

  hr {
    border: 0.08vw solid lightslategray;
  }

  /* CONTACT SECTION CSS============== */

  .contactSection {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5vw;
    grid-row-gap: 8vw;
    padding-top: 34vh;
  }
  .contactSection .box i {
    font-size: 5vw;
  }

  /* PROJECTS SECTION CSS============== */

  .projectsSection .box {
    width: 90%;
    margin: 3vw 0;
  }
  .projectsSection .box h4 {
    font-size: 2.2vw;
    text-align: center;
    padding: 2vw;
  }
  /* .projectsSection .box h4 a {
    font-size: ;
  } */
}

@media (max-width: 684px) {
  /* PROJECTS SECTION CSS============== */

  .projectsSection .box {
    width: 100%;
  }
}

@media (max-width: 426px) {
  .commonProperty {
    font-size: 3vw;
    width: 84vw;
    padding: 5vh 0;
  }
  .section h1 {
    font-size: 5.2vw;
    padding: 2vw;
  }

  /* ABOUT SECTION CSS============== */

  .aboutMe h2 {
    font-size: 6vw;
    line-height: 10vw;
  }
  .aboutSection p {
    line-height: 5vw;
  }

  /* EXPERIENCE SECTION CSS============== */

  .experienceSectoin .boxBody ul li {
    line-height: 5vw;
  }
  .boxBody p {
    line-height: 5vw;
  }
  .experienceSectoin .box > div {
    padding: 2.5vw;
  }
  .experienceSectoin .boxBody ul {
    padding: 0 8vw;
  }
  .experienceSectoin .boxhead h3 {
    font-size: 3.1vw;
  }
  .position {
    font-size: 2.4vw;
  }
  hr {
    border: 0.1vw solid lightslategray;
  }
  .experienceSectoin .box {
    margin: 3vh 0;
  }

  /* PROJECT SECTION CSS============== */

  .projectsSection .box h4 {
    font-size: 3vw;
    padding: 4vw;
  }

  /* PROJECT SECTION CSS============== */

  .skillsSection .box {
    padding: 7vw 10vw;
  }
  .skillsSection .box img {
    width: 70%;
    height: 14vw;
  }
  /* .skillsSection .box {
    padding: 6vw 6vw;
  } */
  .skillsSection .box h4 {
    font-size: 3vw;
  }

  /* EDUCATION SECTION CSS============== */
  .educationSection {
    padding: 12vw 0;
  }
  .educationSection .box .boxHead {
    padding: 1vw 4vw;
  }
  .educationSection .durationAndDegree {
    padding: 4vw;
  }
  .educationSection .durationAndDegree {
    line-height: 5vw;
  }

  /* CONTACT SECTION CSS============== */
  .contactSection {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0vw;
    grid-row-gap: 14vw;
    padding-top: 24vh;
  }
  .contactSection .box {
    border: 0.4vw solid lightslategray;
  }
  .contactSection .box i {
    padding: 2.5vw;
  }
  .contactSection .box i {
    font-size: 10vw;
  }
}

@media (max-width: 376px) {
  .commonProperty {
    font-size: 3.55vw;
  }

  .aboutSection p,
  .experienceSectoin .boxBody ul li,
  .boxBody p {
    line-height: 7vw;
  }

  .skillsSection .box img {
    width: 64%;
    height: 18vw;
  }

  .skillsSection .box {
    padding: 7vw 6vw;
  }

  .projectsSection .box h4 {
    font-size: 4vw;
  }
}

@media (max-width: 320px) {
  .commonProperty {
    font-size: 4.1vw;
  }

  .experienceSectoin .box1 img {
    width: 80%;
  }

  .experienceSectoin .box2 img {
    width: 85%;
  }

  .experienceSectoin .box3 img {
    width: 100%;
  }

  .experienceSectoin .box4 img {
    width: 71%;
  }
  .experienceSectoin .boxhead h3 {
    font-size: 4.1vw;
  }
  .position {
    font-size: 3vw;
  }
}

@media (max-width: 769px) {
  .navBar {
    display: none;
  }

  .topHeading {
    position: fixed;
    width: 100vw;
    background-color: rgb(241, 237, 237);
    box-shadow: 0px 2px 11px -2px rgba(0, 0, 0, 0.75);
    z-index: 1;
  }

  .mobileViewNavbar {
    display: grid;
    /* grid-template-columns: 6% 90%; */
    grid-template-columns: 28% 46%;
  }

  .mobileViewNavbar a {
    text-align: center;
    text-decoration: none;
  }

  .mobileViewNavmenu {
    padding: 1vw;
  }

  .mobileViewNavmenu span {
    display: block;
    font-family: 'Lato', sans-serif;
  }
  .mobileViewNavmenu #myName {
    color: rgb(36, 36, 36);
    font-size: 4vw;
    font-weight: 900;
  }
  .mobileViewNavmenu #myProfession {
    color: rgb(87, 87, 87);
    font-size: 2.5vw;
  }
  .mobileViewNavbar #toggleOpen {
    font-size: 4vw;
    /* padding: 2vw 3vw; */
    padding: 2vw 7vw;
    cursor: pointer;
  }
  .hiddenMenu {
    width: 20vw;
    z-index: 1;
    position: fixed;
    height: 100vh;
    background-color: rgb(241, 237, 237);
    box-shadow: 0px 2px 11px -2px rgba(0, 0, 0, 0.75);
  }
  #showHide {
    display: none;
  }
  .hiddenMenu #toggleClose {
    text-align: end;
    /* padding: 3vw; */
    padding: 7vw;
    font-size: 3vw;
    cursor: pointer;
  }
  .hiddenMenu #navItems {
    font-size: 1.8vw;
    font-weight: 700;
    padding: 3.2vw;
    padding-left: 4vw;
    letter-spacing: 0.1vw;
    margin: 0 0 0.1vw 0;
  }
}

@media (max-width: 426px) {
  .topHeading {
    padding: 2vw 0;
  }
  .mobileViewNavbar {
    grid-template-columns: 15% 70%;
  }
  .mobileViewNavbar #toggleOpen {
    font-size: 5vw;
    padding: 1vw 8vw;
  }
  .hiddenMenu {
    width: 25vw;
  }
  .hiddenMenu #toggleClose {
    font-size: 6vw;
    font-weight: 500;
  }
  .hiddenMenu #navItems {
    font-size: 2.3vw;
  }
}

@media (max-width: 321px) {
  .hiddenMenu #toggleClose {
    padding: 4vw;
    font-size: 4vw;
  }
  .hiddenMenu #navItems {
    padding-left: 2vw;
    font-size: 3vw;
  }
  .mobileViewNavmenu #myName {
    font-size: 5vw;
  }
  .mobileViewNavmenu #myProfession {
    font-size: 3.5vw;
  }
  .mobileViewNavbar #toggleOpen {
    padding: 2vw 8vw;
  }
  .hiddenMenu #toggleClose {
    padding: 5.6vw;
  }
}
